.Artist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 2rem;

  .track-container {
    display: flex;
    width: 75%;
    height: 150px;
    outline: 1px solid black;
    border-radius: 1rem;
    z-index: 100;

    .track-img {
      width: 150px;
      height: 150px;
      margin-right: 1rem;
      overflow: hidden;
      flex: 0 0 150px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
      }
    }

    .right-side-wrapper {
      display: flex;
      // 確保右側充滿剩餘空間
      width: 100%;
      .content {
        display: flex;
        flex-wrap: wrap;
        // background-color: lightblue;
        // 與 popularity 平分
        flex: 0 0 85%;
        .track-title {
          flex: 0 0 100%;
          display: flex;
          // justify-content: center;
          align-items: flex-end;
          width: 100%;
          height: 60%;
          font-size: 2.5rem;
          letter-spacing: 0.1rem;
          font-weight: 500;
          //   background-color: aquamarine;
        }
        .track-info {
          flex: 0 0 100%;
          width: 100%;
          .album-name {
            font-size: 1.3rem;
            margin-bottom: 0;
          }
          .release-date {
            font-size: 0.8rem;
            margin-bottom: 0.1rem;
          }
        }
      }
      .popularity {
        flex: 0 0 15%;
        width: 100px;
        position: relative;
        border-left: 1px solid black;
        .text {
          display: flex;
          justify-content: flex-start;
          margin: 0;
          padding-left: 0.2rem;
        }
        .score {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2rem;
          margin: 0;
        }
      }
    }
  }
}
