// Loading.js
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  .loader {
    border: 20px solid #f3f3f3;
    // 只有上方有顏色，模擬 loading
    border-top: 20px solid #3498db;
    // 將原本的方形變成圓形
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 1s linear infinite;
    display: block;
  }
  p {
    flex: 0 0 100%;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    font-weight: 500;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 450px) and (max-width: 550px) {
  .loading {
    .loader {
      border: 18px solid #f3f3f3;
      border-top: 18px solid #3498db;
      width: 180px;
      height: 180px;
    }
    p {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 449px) {
  .loading {
    .loader {
      border: 16px solid #f3f3f3;
      border-top: 16px solid #3498db;
      width: 160px;
      height: 160px;
    }
    p {
      font-size: 1.6rem;
    }
  }
}
