$search-bar-color: rgb(30, 30, 30);

.MusicSearchBar {
  .search-bar {
    position: relative;
    margin-bottom: 1.5rem;
    overflow: hidden;
    max-width: 100vw;

    .artist-img-wrapper {
      position: absolute;
      top: 50%;
      right: 19%;
      // translate 會造成滑鼠在圖片內時，一直觸發 hover 事件
      // 導致圖片不斷放大縮小
      transform: translate(50%, -50%);
      overflow: hidden;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      .artist-img {
        transition: transform 0.3s ease;
        // 將不是 300 x 300 的圖片放滿容器
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:hover .artist-img {
        transform: scale(1.1);
      }
    }

    .search {
      min-height: 25rem;
      // background-color: bisque;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-top: 2rem;
      padding-bottom: 1rem;
      padding-left: 11%;

      background-color: $search-bar-color;
      .logo {
        flex: 0 0 100%;
        display: flex;
        justify-items: flex-start;
        // margin-top: 0.1rem;
        img {
          width: 300px;
          // 維持長寬比
          height: auto;
        }
      }

      h1 {
        flex: 0 0 100%;
        margin-top: 1rem;
        color: white;
      }

      .input-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 0 0 100%;
        position: relative;
        width: 50rem;
        .search-input {
          width: 30%;
          border: none;
          color: white;
          border-bottom: 1px solid white;
          background-color: $search-bar-color;
          padding-bottom: 0.2rem;
          font-size: 1.5rem;
          background-color: none;
          &:focus {
            outline: none;
          }
        }
        .search-icon {
          font-size: 1.6rem;
          color: white;
          cursor: pointer;
        }
      }
      .searching-info {
        flex: 0 0 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        h5 {
          margin: 0;
          color: rgb(250, 250, 250);
          max-width: 50%;
        }
      }

      .select {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        flex-wrap: wrap;

        .left-label {
          margin-left: 0;
        }
        label {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          color: white;
          margin-left: 1.5rem;

          input {
            // zoom in
            transform: scale(1.5);
            margin-right: 0.5rem;
            border: none;
          }
        }
      }
    }
  }

  .option {
    margin-left: 0.5rem;
  }
}

@media (min-width: 1100px) and (max-width: 1700px) {
  .MusicSearchBar .search-bar {
    .artist-img-wrapper {
      right: 22%;
    }
  }
}

@media (min-width: 1000px) and (max-width: 1099px) {
  .MusicSearchBar .search-bar {
    .artist-img-wrapper {
      width: 270px;
      height: 270px;
    }
    .search {
      padding-left: 8%;
    }
  }
}

@media (min-width: 870px) and (max-width: 999px) {
  .MusicSearchBar .search-bar {
    .artist-img-wrapper {
      right: 21%;
      width: 270px;
      height: 270px;
    }
    .search {
      padding-left: 8%;
      .select {
        label {
          justify-content: flex-start;
          flex: 0 0 100%;
          margin-left: 0;
        }
      }
    }
  }
}

@media (min-width: 650px) and (max-width: 869px) {
  .MusicSearchBar .search-bar {
    .artist-img-wrapper {
      right: 23%;
      width: 250px;
      height: 250px;
    }
    .search {
      padding-left: 7%;
      .select {
        label {
          justify-content: flex-start;
          flex: 0 0 100%;
          margin-left: 0;
        }
      }
    }
  }
}

@media (min-width: 575px) and (max-width: 649px) {
  .MusicSearchBar .search-bar {
    .artist-img-wrapper {
      right: 24%;
      width: 250px;
      height: 250px;
    }
    .search {
      padding-left: 5%;
      .select {
        label {
          justify-content: flex-start;
          flex: 0 0 100%;
          margin-left: 0;
        }
      }
    }
  }
}

@media (min-width: 470px) and (max-width: 574px) {
  .MusicSearchBar .search-bar {
    .artist-img-wrapper {
      right: 24%;
      width: 200px;
      height: 200px;
    }
    .search {
      padding-left: 5%;
      padding-top: 0.5rem;
      min-height: 20rem;
      .logo {
        flex: 0 0 100%;
        margin-top: 0.5rem;
        img {
          width: 200px;
          // 維持長寬比
          height: auto;
        }
      }

      h1 {
        // margin-top: 1rem;
        font-size: 1.4rem;
      }

      h5 {
        font-size: 1.1rem;
        margin-top: 0.3rem;
      }

      .input-group {
        .search-input {
          width: 30%;
          font-size: 1.2rem;
        }
        .search-icon {
          font-size: 1.2rem;
        }
      }

      .select {
        label {
          justify-content: flex-start;
          flex: 0 0 100%;
          margin-left: 0;
          font-size: 1.2rem;
        }
        input {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media (max-width: 469px) {
  .MusicSearchBar .search-bar {
    .artist-img-wrapper {
      right: 22%;
      width: 140px;
      height: 140px;
    }

    .search {
      padding-top: 1rem;
      padding-left: 4%;
      min-height: 15rem;
      .logo {
        img {
          width: 150px;
        }
      }

      h1 {
        font-size: 1.4rem;
      }

      h5 {
        font-size: 1rem;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
      }

      .input-group {
        width: 30rem;
        .search-input {
          font-size: 1rem;
        }
        .search-icon {
          font-size: 1.1rem;
        }
      }

      .select {
        label {
          flex: 0 0 100%;
          font-size: 1rem;
          margin-left: 0;
          // 將整個 label 靠左
          justify-content: flex-start;

          input {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
