.Nav {
  position: sticky;
  top: 0;
  z-index: 10;
  // 陰影
  box-shadow: 0 10px 15px -6px rgba(170, 170, 170, 0.3);
  nav {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    margin: 0;
    background-color: White;
    color: white;
    max-width: 100vw;

    .logo {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .logo-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        img {
          width: 3rem;
          height: 3rem;
        }
        .website-name {
          font-size: 2rem;
          margin: 0;
          margin-left: 0.5rem;
          color: rgb(30, 30, 30);
          font-weight: 600;
          width: 100%;
        }
      }
    }

    .list {
      width: 100%;
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // padding: 1rem 1rem;
        margin: 0;
        color: rgb(30, 30, 30);
        padding: 0;
        li {
          list-style: none;
          margin-right: 1rem;
          letter-spacing: 0.2rem;
          .link-tag {
            text-decoration: none;
            color: rgb(30, 30, 30);
            font-size: 1.3rem;
            transition: 0.2s;
            font-weight: 500;
            .icon {
              font-size: 1.3rem;
              margin-right: 0.5rem;
              color: rgb(30, 30, 30);
            }
            &:hover {
              text-shadow: 0 0 3px rgba(80, 80, 80, 0.5);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .Nav nav {
    // justify-content: flex-start;
    .logo {
      flex: 0 0 0%;
      .logo-link {
        flex: 0 0 0%;
        .website-name {
          display: none;
        }
      }
    }

    .list {
      ul {
        margin-left: 1rem;
        justify-content: flex-start;
      }
    }
  }
}

@media (max-width: 475px) {
  .Nav nav .list ul li .link-tag {
    .icon {
      display: none;
    }
  }
}

@media (max-width: 369px) {
  .Nav nav .list ul li .link-tag {
    span {
      font-size: 1.2rem;
    }
  }
}
