@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Noto Sans TC", sans-serif;
}

.Nav {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 10px 15px -6px rgba(170, 170, 170, 0.3);
}
.Nav nav {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  margin: 0;
  background-color: White;
  color: white;
  max-width: 100vw;
}
.Nav nav .logo {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Nav nav .logo img {
  width: 3rem;
  height: 3rem;
}
.Nav nav .logo .title {
  font-size: 2rem;
  margin: 0;
  margin-left: 0.5rem;
  color: rgb(30, 30, 30);
  font-weight: 600;
}
.Nav nav .list {
  width: 100%;
}
.Nav nav .list ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  color: rgb(30, 30, 30);
  padding: 0;
}
.Nav nav .list ul li {
  list-style: none;
  margin-right: 1rem;
  letter-spacing: 0.2rem;
}
.Nav nav .list ul li .link-tag {
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-size: 1.3rem;
  transition: 0.2s;
  font-weight: 500;
}
.Nav nav .list ul li .link-tag .icon {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  color: rgb(30, 30, 30);
}
.Nav nav .list ul li .link-tag:hover {
  text-shadow: 0 0 3px rgba(80, 80, 80, 0.5);
}

@media (max-width: 800px) {
  .Nav nav .logo {
    flex: 0 0 0%;
  }
  .Nav nav .logo .title {
    display: none;
  }
  .Nav nav .list ul {
    margin-left: 1rem;
    justify-content: flex-start;
  }
}
@media (max-width: 475px) {
  .Nav nav .list ul li .link-tag .icon {
    display: none;
  }
}
@media (max-width: 369px) {
  .Nav nav .list ul li .link-tag span {
    font-size: 1.2rem;
  }
}
.MusicSearchBar .search-bar {
  position: relative;
  margin-bottom: 1.5rem;
  overflow: hidden;
  max-width: 100vw;
}
.MusicSearchBar .search-bar .artist-img-wrapper {
  position: absolute;
  top: 50%;
  right: 19%;
  transform: translate(50%, -50%);
  overflow: hidden;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MusicSearchBar .search-bar .artist-img-wrapper .artist-img {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.MusicSearchBar .search-bar .artist-img-wrapper:hover .artist-img {
  transform: scale(1.1);
}
.MusicSearchBar .search-bar .search {
  min-height: 25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 11%;
  background-color: rgb(30, 30, 30);
}
.MusicSearchBar .search-bar .search .logo {
  flex: 0 0 100%;
  display: flex;
  justify-items: flex-start;
}
.MusicSearchBar .search-bar .search .logo img {
  width: 300px;
  height: auto;
}
.MusicSearchBar .search-bar .search h1 {
  flex: 0 0 100%;
  margin-top: 1rem;
  color: white;
}
.MusicSearchBar .search-bar .search .input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 100%;
  position: relative;
  width: 50rem;
}
.MusicSearchBar .search-bar .search .input-group .search-input {
  width: 30%;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  background-color: rgb(30, 30, 30);
  padding-bottom: 0.2rem;
  font-size: 1.5rem;
  background-color: none;
}
.MusicSearchBar .search-bar .search .input-group .search-input:focus {
  outline: none;
}
.MusicSearchBar .search-bar .search .input-group .search-icon {
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}
.MusicSearchBar .search-bar .search h5 {
  margin: 0;
  color: rgb(250, 250, 250);
  flex: 0 0 100%;
}
.MusicSearchBar .search-bar .search .select {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}
.MusicSearchBar .search-bar .search .select .left-label {
  margin-left: 0;
}
.MusicSearchBar .search-bar .search .select label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  margin-left: 1.5rem;
}
.MusicSearchBar .search-bar .search .select label input {
  transform: scale(1.5);
  margin-right: 0.5rem;
  border: none;
}
.MusicSearchBar .option {
  margin-left: 0.5rem;
}

@media (min-width: 1200px) and (max-width: 1700px) {
  .MusicSearchBar .search-bar .artist-img-wrapper {
    right: 22%;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .MusicSearchBar .search-bar .artist-img-wrapper {
    right: 22%;
  }
}
@media (min-width: 1000px) and (max-width: 1099px) {
  .MusicSearchBar .search-bar .artist-img-wrapper {
    width: 270px;
    height: 270px;
  }
  .MusicSearchBar .search-bar .search {
    padding-left: 8%;
  }
}
@media (min-width: 870px) and (max-width: 999px) {
  .MusicSearchBar .search-bar .artist-img-wrapper {
    right: 21%;
    width: 270px;
    height: 270px;
  }
  .MusicSearchBar .search-bar .search {
    padding-left: 8%;
  }
  .MusicSearchBar .search-bar .search .select label {
    justify-content: flex-start;
    flex: 0 0 100%;
    margin-left: 0;
  }
}
@media (min-width: 650px) and (max-width: 869px) {
  .MusicSearchBar .search-bar .artist-img-wrapper {
    top: 38%;
    right: 23%;
    width: 250px;
    height: 250px;
  }
  .MusicSearchBar .search-bar .search {
    padding-left: 7%;
  }
  .MusicSearchBar .search-bar .search .select label {
    justify-content: flex-start;
    flex: 0 0 100%;
    margin-left: 0;
  }
}
@media (min-width: 575px) and (max-width: 649px) {
  .MusicSearchBar .search-bar .artist-img-wrapper {
    top: 35%;
    right: 24%;
    width: 220px;
    height: 220px;
  }
  .MusicSearchBar .search-bar .search {
    padding-left: 5%;
  }
  .MusicSearchBar .search-bar .search .select label {
    justify-content: flex-start;
    flex: 0 0 100%;
    margin-left: 0;
  }
}
@media (min-width: 470px) and (max-width: 574px) {
  .MusicSearchBar .search-bar .artist-img-wrapper {
    top: 35%;
    right: 24%;
    width: 200px;
    height: 200px;
  }
  .MusicSearchBar .search-bar .search {
    padding-left: 5%;
    padding-top: 0.5rem;
    min-height: 20rem;
  }
  .MusicSearchBar .search-bar .search .logo {
    flex: 0 0 100%;
    margin-top: 0.5rem;
  }
  .MusicSearchBar .search-bar .search .logo img {
    width: 200px;
    height: auto;
  }
  .MusicSearchBar .search-bar .search h1 {
    font-size: 1.4rem;
  }
  .MusicSearchBar .search-bar .search h5 {
    font-size: 1.1rem;
    margin-top: 0.3rem;
  }
  .MusicSearchBar .search-bar .search .input-group .search-input {
    width: 30%;
    font-size: 1.2rem;
  }
  .MusicSearchBar .search-bar .search .input-group .search-icon {
    font-size: 1.2rem;
  }
  .MusicSearchBar .search-bar .search .select label {
    justify-content: flex-start;
    flex: 0 0 100%;
    margin-left: 0;
    font-size: 1.2rem;
  }
  .MusicSearchBar .search-bar .search .select input {
    transform: scale(1.2);
  }
}
@media (max-width: 469px) {
  .MusicSearchBar .search-bar .artist-img-wrapper {
    top: 34%;
    right: 20%;
    width: 140px;
    height: 140px;
  }
  .MusicSearchBar .search-bar .search {
    padding-top: 1rem;
    padding-left: 4%;
    min-height: 15rem;
  }
  .MusicSearchBar .search-bar .search .logo img {
    width: 150px;
  }
  .MusicSearchBar .search-bar .search h1 {
    font-size: 1.4rem;
  }
  .MusicSearchBar .search-bar .search h5 {
    font-size: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
  }
  .MusicSearchBar .search-bar .search .input-group {
    width: 30rem;
  }
  .MusicSearchBar .search-bar .search .input-group .search-input {
    font-size: 1rem;
  }
  .MusicSearchBar .search-bar .search .input-group .search-icon {
    font-size: 1.1rem;
  }
  .MusicSearchBar .search-bar .search .select label {
    flex: 0 0 100%;
    font-size: 1rem;
    margin-left: 0;
    justify-content: flex-start;
  }
  .MusicSearchBar .search-bar .search .select label input {
    transform: scale(1.2);
  }
}
.content {
  display: flex;
  justify-content: center;
}
.content .content-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 90vw;
}
.content .content-row .content-card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  flex: 0 0 20%;
  min-height: 320px;
  padding-right: 15px;
  padding-left: 15px;
}
.content .content-row .content-card .cover-container {
  min-height: 321.683px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .content-row .content-card .cover-container .img-wrapper {
  margin-top: 12px;
  overflow: hidden;
  border-radius: 0.5rem;
}
.content .content-row .content-card .cover-container .img-wrapper .cover {
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.content .content-row .content-card .cover-container .img-wrapper .cover:hover {
  transform: scale(1.05);
}
.content .content-row .content-card .name-container {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.content .content-row .content-card .name-container .name-link {
  text-decoration: none;
  color: black;
  transition: text-shadow 0.3s ease;
}
.content .content-row .content-card .name-container .name-link:hover {
  text-shadow: 0 0 3px rgba(80, 80, 80, 0.5); /* 輕微的黑色陰影 */
}
.content .content-row .content-card .name-container .name {
  margin-bottom: 0;
  line-height: 28px;
  text-align: center;
  font-weight: 10000;
}

.more-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.more-btn button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f3f3f3;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.more-btn button:hover {
  background-color: #e0e0e0;
}

.align-top {
  align-items: flex-start !important; /* 確保覆蓋先前的樣式 */
}

.Display .display-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.Display .display-container .filter {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
}
.Display .display-container .display-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  max-width: 800px;
  margin-left: 3rem;
  margin-right: 3rem;
}
.Display .display-container .display-card .display-image {
  padding: 25px 25px 25px 25px;
  border-radius: 2rem;
}
.Display .display-container .display-card .display-name-container {
  padding-top: 0;
  max-width: 690px;
}
.Display .display-container .display-card .display-name-container .display-name {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.1rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.loading .loader {
  border: 20px solid #f3f3f3;
  border-top: 20px solid #3498db;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite;
  display: block;
}
.loading p {
  flex: 0 0 100%;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.temp-msg {
  position: fixed;
  padding: 1rem;
  border-radius: 20px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  animation: fade 1.5s;
  animation-fill-mode: forwards;
  z-index: 10;
  display: block;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.Artist {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.Artist .track-container {
  display: flex;
  width: 75%;
  height: 150px;
  border-radius: 1rem;
  background-color: #f2f2f2;
  margin-bottom: 2rem;
  transition: 0.2s;
  padding-right: 0.2rem;
}
.Artist .track-container:hover {
  background-color: #e6e6e6;
}
.Artist .track-container .track-img-wrapper {
  width: 100%;
  height: 100%;
  margin-right: 1rem;
  overflow: hidden;
  flex: 0 0 150px;
  border-radius: 1rem;
  position: relative;
}
.Artist .track-container .track-img-wrapper .hot-tag {
  width: 50px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0 0 0.5rem 0;
}
.Artist .track-container .track-img-wrapper .track-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}
.Artist .track-container .track-img-wrapper .track-img:hover {
  transform: scale(1.05);
}
.Artist .track-container .right-side-wrapper {
  display: flex;
  width: 100%;
}
.Artist .track-container .right-side-wrapper .content {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}
.Artist .track-container .right-side-wrapper .content .track-title {
  flex: 0 0 100%;
  display: flex;
  padding-top: 2rem;
  align-items: flex-start;
  width: 100%;
  height: 60%;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  overflow: auto;
  line-height: 3.5rem;
}
.Artist .track-container .right-side-wrapper .content .track-info {
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: 1rem;
}
.Artist .track-container .right-side-wrapper .content .track-info .album-name {
  font-size: 1.3rem;
  margin-bottom: 0rem;
  width: 100%;
  max-height: 2rem;
  line-height: 2rem;
  overflow: auto;
}
.Artist .track-container .right-side-wrapper .content .track-info .release-date {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.Artist .track-container .popularity {
  flex: 0 0 15%;
  width: 100px;
  position: relative;
  border-left: 1px solid rgb(150, 150, 150);
}
.Artist .track-container .popularity .text {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-left: 0.2rem;
  letter-spacing: 0.1rem;
}
.Artist .track-container .popularity .score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  margin: 0;
}

@media (min-width: 401px) and (max-width: 700px) {
  .Artist .track-container .right-side-wrapper .content .track-title {
    line-height: 2.5rem;
  }
}
@media (max-width: 400px) {
  .Artist .track-container .right-side-wrapper .content .track-title {
    line-height: 1.7rem;
  }
}
@media (max-width: 700px) {
  .Artist .track-container {
    height: 100px;
  }
  .Artist .track-container .track-img-wrapper {
    width: 100%;
    height: 100%;
    flex: 0 0 100px;
  }
  .Artist .track-container .track-img-wrapper .hot-tag {
    width: 40px;
    height: 20px;
  }
  .Artist .track-container .right-side-wrapper .content .track-title {
    padding-top: 0.5rem;
    height: 50%;
    font-size: 1.5rem;
  }
  .Artist .track-container .right-side-wrapper .content .track-info .album-name {
    font-size: 1rem;
  }
  .Artist .track-container .right-side-wrapper .content .track-info .release-date {
    font-size: 0.7rem;
  }
  .Artist .track-container .popularity {
    display: none;
  }
}
@media (max-width: 400px) {
  .Artist .track-container .right-side-wrapper .content .track-title {
    padding-top: 0.75rem;
    height: 40%;
    font-size: 1.2rem;
  }
  .Artist .track-container .right-side-wrapper .content .track-info {
    height: 60%;
    padding-top: 0.8rem;
  }
  .Artist .track-container .right-side-wrapper .content .track-info .album-name {
    font-size: 0.9rem;
    max-height: 23px;
    line-height: 23px;
  }
  .Artist .track-container .right-side-wrapper .content .track-info .release-date {
    padding-top: 0.3rem;
    font-size: 0.6rem;
  }
}
.ArtistSearchBar {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: rgb(30, 30, 30);
  height: 7rem;
}
.ArtistSearchBar .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-width: 25%;
}
.ArtistSearchBar .input-container .artist-search-input {
  min-width: 100%;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 0.5rem 1.2rem 0.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ArtistSearchBar .input-container .artist-search-icon {
  position: absolute;
  right: 3%;
  cursor: pointer;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .ArtistSearchBar .input-container .artist-search-input {
    font-size: 1.2rem;
  }
  .ArtistSearchBar .input-container {
    max-width: 70%;
  }
}
.ArtistInfo {
  max-width: 100vw;
  margin-top: 2rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.ArtistInfo .artist-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 1rem;
  transition: 0.2s;
  padding: 1rem;
}
.ArtistInfo .artist-info-container:hover {
  background-color: #e6e6e6;
}
.ArtistInfo .artist-info-container .artist-info-picture {
  width: 200px;
  height: 200px;
  overflow: hidden;
  flex: 0 0 200px;
  border-radius: 50%;
}
.ArtistInfo .artist-info-container .artist-info-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.ArtistInfo .artist-info-container .artist-info-picture img:hover {
  transform: scale(1.1);
}
.ArtistInfo .artist-info-container .artist-info-right-side {
  padding-left: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.ArtistInfo .artist-info-container .artist-info-right-side .artist-info-right-top .artist-info-name {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.ArtistInfo .artist-info-container .artist-info-right-side .break-line {
  flex: 0 0 100%;
}
.ArtistInfo .artist-info-container .artist-info-right-side .artist-info-right-bottom {
  max-width: 100%;
  font-weight: 500;
}
.ArtistInfo .artist-info-container .artist-info-right-side .artist-info-right-bottom .artist-info-genre {
  font-size: 1.3rem;
  padding-top: 0.5rem;
}
.ArtistInfo .artist-info-container .artist-info-right-side .artist-info-right-bottom .artist-info-popularity {
  font-size: 1.3rem;
  padding-top: 0.5rem;
}
.ArtistInfo .artist-info-container .artist-info-right-side .artist-info-right-bottom .artist-info-followers {
  font-size: 1.3rem;
  padding-top: 0.5rem;
}

@media (max-width: 1000px) {
  .ArtistInfo .artist-info-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .ArtistInfo .artist-info-container .artist-info-right-side {
    align-items: center;
    justify-content: center;
    padding-left: 0;
    text-align: center;
  }
  .ArtistInfo .artist-info-container .artist-info-right-side .artist-info-right-top .artist-info-name {
    padding-top: 0.5rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 700px) {
  .ArtistInfo .artist-info-container .artist-info-picture {
    width: 150px;
    height: 150px;
    flex: 0 0 150px;
  }
  .ArtistInfo .artist-info-container .artist-info-right-side .artist-info-right-top .artist-info-name {
    font-size: 2rem;
  }
  .ArtistInfo .artist-info-container .artist-info-right-side .artist-info-right-bottom .artist-info-genre,
  .ArtistInfo .artist-info-container .artist-info-right-side .artist-info-right-bottom .artist-info-popularity,
  .ArtistInfo .artist-info-container .artist-info-right-side .artist-info-right-bottom .artist-info-followers {
    font-size: 1rem;
  }
}
@media (max-width: 1700px) {
  .content .content-row .content-card {
    flex: 0 0 25%;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .content .content-row .content-card {
    flex: 0 0 31%;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .content .content-row .content-card {
    flex: 0 0 35%;
  }
}
@media (min-width: 1000px) and (max-width: 1099px) {
  .content .content-row .content-card {
    flex: 0 0 35%;
  }
}
@media (min-width: 870px) and (max-width: 999px) {
  .content .content-row .content-card {
    flex: 0 0 70%;
  }
}
@media (min-width: 650px) and (max-width: 869px) {
  .content .content-row .content-card {
    flex: 0 0 70%;
  }
}
@media (min-width: 576px) and (max-width: 649px) {
  .content .content-row .content-card {
    flex: 0 0 70%;
  }
  .Display .display-container .display-card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .Display .display-container .display-card .display-name-container .display-name {
    font-size: 1.4rem;
  }
}
@media (min-width: 475px) and (max-width: 575px) {
  .content .content-row .content-card {
    flex: 0 0 70%;
  }
  .Display .display-container .display-card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .Display .display-container .display-card .display-name-container .display-name {
    font-size: 1.3rem;
  }
}
@media (min-width: 420px) and (max-width: 474px) {
  .content .content-row .content-card {
    flex: 0 0 80%;
  }
  .Display .display-container .display-card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .Display .display-container .display-card .display-name-container .display-name {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media (min-width: 400px) and (max-width: 419px) {
  .content .content-row .content-card {
    flex: 0 0 85%;
  }
}
@media (max-width: 419px) {
  .content .content-row .content-card {
    flex: 0 0 88%;
  }
  .Display .display-container .display-card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .Display .display-container .display-card .display-name-container .display-name {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */